*{
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
header{
    width: 100vw;
    height: 20vh;
    background-color: #408042;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 32vw;
    height: 70vh;
    background-color: #80FF84;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-of-type(2){
    background-color: #66CC66;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color: #408042;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
table, th, td{
    border-collapse: collapse;
    border: 0.2vw #668067 solid;
    font-size: 1.2em;
    padding: 0.1vw;
    
}
th{
    background-color: #67CC6B;
}
td{
    background-color: #CCFFCE;
}
p{
    margin: 1vw;
    color: inherit;
    font-size: 1.4rem;
    max-width: 25vw;
}
h1{
    font-size: 4rem;
}
section > p{
    border: 0.2vw #668067 dotted;
    background-color: #CCFFCE;
    padding: 0.2vw;
}
a{
    text-decoration: none;
}
img{
    max-height: 50vh;
}
table:hover{
cursor: crosshair;
}
section > p:hover{
cursor: help;
}
img:hover{
    cursor: pointer;
}