*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: purple;
    color: white;
    display: inline;
    margin-top: 25vh;
    padding: 5px;
    border-radius: 5px;
    font-size: 7vh;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(../obrazy/vine.jpg);
    width: 100vw;
    height: 100vh;
    background-size:cover;
}
#z{
    width: 40vw;
    height: 40vh;
    background-color: white;
    margin-top: 5vh;
}
i{
    font-size: 5vh;
    font-weight: 600;
    background: -webkit-linear-gradient(purple, green);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}