*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0A0908;
}
body, html{
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 10%;
    background-color: #22333B;
    text-align: center;
    padding: 10px;
}
nav{
    height: 75%;
    width: 20%;
    display: block;
    float: right;
    background-color: #F2F4F3;
}
main{
    height: 75%;
    width: 80%;
    background-color: #A9927D;
    float: right;
    text-align: center;
    padding: 10px 0px;
}
footer{
    width: 100%;
    height: 15%;
    clear: both;
    background-color: #5E503F;
    text-align: right;
}
ol{
    padding: 20px;
    font-size: large;
}
