*{
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
}
section{
    width: 29vw;
    height: 50vh;
    margin: 2vw
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;   
}
caption{
    color: beige;
    margin-bottom: 2vh;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    background-color: aliceblue;
    padding: 0.1vw;
    border: 1px black solid;
    width: 14.3%;
    height: 18%;
}
th{
    background-color: red;
    padding: 0.1vw; 
    height: 10%;
}