*{
    padding: 0;
    margin: 0;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
#a1{
    rotate: -30deg;
    position: relative;
    bottom: -50px;
    left: 210px;
    z-index: 5;
}
#a2{
    rotate: -15deg;
    position: relative;
    bottom: -20px;
    left: 70px;
    z-index: 4;
}
#a3{
    z-index: 3;
}
#a4{
    rotate: 15deg;
    position: relative;
    bottom: -20px;
    left: -70px;
    z-index: 2;
}
#a5{
    rotate: 30deg;
    position: relative;
    bottom: -50px;
    left: -210px;
    z-index: 1;
}
#a1:hover{
    z-index: 6;
    transition: z-index 0.5s ease;
}
#a2:hover{
    z-index: 6;
    transition: z-index 0.5s ease;
}
#a3:hover{
    z-index: 6;
    transition: z-index 0.5s ease;
}
#a4:hover{
    z-index: 6;
    transition: z-index 0.5s ease;
}
#a5:hover{
    z-index: 6;
    transition: z-index 0.5s ease;
}