body{
    margin: 0px;
    padding: 0px;
    background-color: #fffac1;
}
a.linki{
    text-decoration: none;
    
    color: #822400;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    margin: 5px;
    background-color: #ff889d;
    width: 300px;
    height: 120px;
    text-align: center;
    padding-top: 40px;
    border-radius: 30px;
    float: left;
}
h1{
    text-align: center;
    color: #5a0b03;
    font-size: 50px;
}
p{
    border: 2px dashed #fffac1;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;

}