body{
    margin: 0px;
    padding: 0px;
    background-color: azure;
}
div#bialy{
    margin: 100px;
    margin-left: 130px;
    border: 5px solid black;
    width: 300px;
    height: 300px;
    padding: 30px;
    position: relative;
    transform: rotate(45deg);
    background-color: white;
}
div#zolty{
    background-color: yellow;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
a, h1{
    font-weight: bold;
    display: inline;
    padding: 5px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    text-decoration: none;
    font-size: 50px;
    color: crimson;
    border: 2px dashed aqua;
    border-radius: 30px;
}
a:hover{
    cursor:help;
    background-color: aqua;
}