*{
    margin: 0;
    padding: 0;
}
.g{
    height: 200px;
    width: 300px;
    background-color: green;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    width: 200px;
    height: 150px;
    background-color: rgb(0, 88, 62);
}
.y{
    width: 110px;
    height: 90px;
    background-color: yellow;
}