*{
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
}
header{
    height: 15vh;
    background-color: blue;
    width: 100vw;
    text-align: center;
}
aside{
    float: left;
    background-color: aqua;
    height: 75vh;
    width: 25vw;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh;
    background-color: chartreuse;
    margin: 2vw;
    border-radius: 10px;
    border: 5px outset brown;
}
div:hover{
    background-color: chocolate;
    transition: 1s;
}
main{
    float: right;
    background-color: brown;
    width: 75vw;
    height: 75vh;
}
footer{
    clear: both;
    width: 100vw;
    height: 10vh;
    background-color: blueviolet;
    text-align: right;
}
p{
    font-size: 2em;
    padding: 5px;

}
h1{
    padding: 20px;
    font-size: 2.5em;
}
p.guziczki{
    font-weight: 600;
}
p.tresc{
    margin: 15px;
}
a{
    text-decoration: none;
    color: inherit;
}